Repository adriangb/asapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright, lockfile

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: ruff
        name: Ruff
        entry: poetry run ruff
        args: ["check", "--fix"]
        types: [python]
        language: system
      - id: ruff-format
        name: Ruff Format
        entry: poetry run ruff
        args: [format]
        language: system
        types: [python]
      - id: pyright
        name: pyright
        entry: poetry run pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: lockfile
        name: lockfile
        entry: poetry check
        args: [--lock]
        language: system
        pass_filenames: false
        files: "pyproject.toml|poetry.lock"

Add ci
  .github/workflow.yaml
  .gitignore
Due: none

Don't configure logging
  asapi/_serve.py
  pyproject.toml
Due: ruff, ruff-format, pyright, lockfile

Add CI
  .github/workflow.yaml
Due: none

Add signals test
  asapi/_serve.py
  poetry.lock
  pyproject.toml
Due: ruff, ruff-format, pyright, lockfile

add workflow
  .github/workflows/ci.yaml
Due: none

Add check
  .github/workflows/ci.yaml
Due: none

update
  .github/workflows/ci.yaml
Due: none

add pre-commit
  .github/workflows/ci.yaml
  poetry.lock
  pyproject.toml
Due: lockfile

add pre-commit
  Makefile
Due: none

add pre-commit
  .github/workflows/ci.yaml
Due: none

Set shell
  .github/workflows/ci.yaml
Due: none

add test file
  tests/test_signal_handling.py
Due: ruff, ruff-format, pyright

run directly
  .github/workflows/ci.yaml
Due: none

remove pragmas
  asapi/_signal_handling.py
Due: ruff, ruff-format, pyright

move timeout
  tests/test_signal_handling.py
Due: ruff, ruff-format, pyright

move timeouts
  tests/test_signal_handling.py
Due: ruff, ruff-format, pyright

bump version
  pyproject.toml
Due: lockfile

reliable signals test
  tests/test_signal_handling.py
Due: ruff, ruff-format, pyright

Add file
  tests/run_server.py
Due: ruff, ruff-format, pyright

remove docs
  .github/workflows/ci.yaml
Due: none

fix check
  .github/workflows/ci.yaml
Due: none

loosen fastapi version
  poetry.lock
  pyproject.toml
Due: lockfile

touch up some minor nits
  .gitignore
  asapi/_injected.py
  asapi/_serve.py
  asapi/_signal_handling.py
  pyproject.toml
Due: ruff, ruff-format, pyright, lockfile

update readme example
  README.md
  asapi/_injected.py
Due: ruff, ruff-format, pyright

switch packaging to uv
  poetry.lock
  pyproject.toml
Due: lockfile

use uv in ci
  .github/workflows/ci.yaml
Due: none

fix ci
  .github/workflows/ci.yaml
  Makefile
Due: none

fix more
  .gitignore
  .pre-commit-config.yaml
Due: none

fix more
  uv.lock
Due: none

fix more
  pyproject.toml
  uv.lock
Due: lockfile

fix more
  .github/workflows/ci.yaml
Due: none

test release
  pyproject.toml
  uv.lock
Due: lockfile

test release
  .github/workflows/ci.yaml
Due: none

test release
  .github/workflows/ci.yaml
  pyproject.toml
  uv.lock
Due: lockfile

test release
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

always run
  .github/workflows/ci.yaml
Due: none

skip check
  .github/workflows/ci.yaml
Due: none

build first
  .github/workflows/ci.yaml
Due: none
