Repository adriangb/asapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright, lockfile

ruff:
  name: Ruff
  entry: poetry run ruff
  args:
  - check
  - --fix
  language: system

ruff-format:
  name: Ruff Format
  entry: poetry run ruff
  args:
  - format
  language: system

pyright:
  name: pyright
  entry: poetry run pyright
  language: system
  pass_filenames: false

lockfile:
  name: lockfile
  entry: poetry check
  args:
  - --lock
  language: system
  pass_filenames: false

add perms
  .github/workflows/ci.yaml
Due: none

check release
  .github/workflows/ci.yaml
Due: none

check release
  pyproject.toml
  uv.lock
Due: lockfile

check release
  .github/workflows/ci.yaml
  pyproject.toml
  uv.lock
Due: lockfile

now re-add check
  .github/workflows/ci.yaml
  pyproject.toml
  uv.lock
Due: lockfile

remove upper version bounds
  pyproject.toml
  uv.lock
Due: lockfile

Update ci.yaml
  .github/workflows/ci.yaml
Due: none

Update ci.yaml (#8)
  .github/workflows/ci.yaml
Due: none

debug
  .github/workflows/ci.yaml
Due: none

win
  .github/workflows/ci.yaml
Due: none

test signals
  .github/workflows/ci.yaml
  asapi/_signal_handling.py
  tests/example.py
  tests/run_example.py
Due: ruff, ruff-format, pyright

fix path
  .github/workflows/ci.yaml
Due: none

errors
  tests/run_example.py
Due: ruff, ruff-format, pyright

different port
  tests/run_example.py
Due: ruff, ruff-format, pyright

different:
  asapi/_signal_handling.py
Due: ruff, ruff-format, pyright

edit existing test
  tests/test_signal_handling.py
Due: ruff, ruff-format, pyright

log stdout/stderr
  tests/run_example.py
Due: ruff, ruff-format, pyright

use uvicorn's signal handling
  asapi/_serve.py
  asapi/_signal_handling.py
  tests/example.py
Due: ruff, ruff-format, pyright

revert example
  tests/example.py
Due: ruff, ruff-format, pyright

check both
  tests/__init__.py
  tests/run_example.py
Due: ruff, ruff-format, pyright

fix?
  asapi/_serve.py
Due: ruff, ruff-format, pyright

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$
  lockfile: any of: pyproject.toml|poetry.lock
